:root {
  font-family: "Lexend", sans-serif;
}
.html {
  scroll-behavior: smooth;
}
body {
  margin: auto;

  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(223, 218, 218, 0.281) 3%,
    rgb(199 210 254) 38%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 30s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
h1,
h2 {
  font-family: "Lexend", sans-serif;
}
p {
  font-family: "Ropa Sans", sans-serif;
}
.skill {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 5px;
}

.progress {
  width: 100%;
  height: 20px;
  background-color: rgba(129, 141, 248, 0.219);
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  background-color: rgb(129 140 248);
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  min-height: 100vh;
}
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 18rem 0rem;
}
.logo span {
  color: rgb(129 140 248);
}

.hero h1 {
  font-size: 3.5rem;
}
.hero h1 span {
  color: rgb(0, 0, 0);
}
.hero h3 {
  margin-top: 25px;
  font-size: 2rem;
}

#emoji {
  font-size: 2rem;
}
.social-links,
.contact-info {
  margin-top: 40px;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.auto-type {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-family: "Source Code Pro", monospace;
}
.info h3 {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  gap: 1rem;
  border-radius: 12px;
  padding: 0.7rem;
}
.nav_link:hover {
  border-bottom: 2px solid rgb(129 140 248);
}

.logo {
  position: relative;
  font-size: 1.5rem;
  padding-top: 10px;
}
.about,
.myjourney {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1.6rem;
  margin-top: calc(3rem + 30px);
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  box-shadow: 0 20px 15px -20px rgba(0, 0, 0, 0.144);
}
.do-title {
  text-align: center;
  border-bottom: 2px solid rgb(129 140 248);
}
.about h2 {
  font-size: 1.6rem;
}
.about p {
  margin-top: 25px;
}

.about-title {
  text-align: center;
  font-size: 3rem;
}
.contact-titles {
  margin-top: 15rem;
  text-align: center;
  font-size: 3rem;
}

.aboutme,
.coding-journey {
  padding: 10px;
}
.aboutme p,
.coding-journey p,
.myskills-container,
.attributes-container {
  font-size: 1.1rem;
  max-width: 35em;
  padding: 5px;
  text-align: center;
  margin-bottom: 5rem;
}

.journey-title {
  margin-top: 10rem;
  text-align: center;
  font-size: 3rem;
}

.list-item {
  text-align: center;
  font-size: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
}
.pin {
  position: relative;
  bottom: 50px;
  right: 40px;
}
i {
  color: rgb(129 140 248);
}

.project-item i {
  color: #474853;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  grid-gap: 30px;
  margin: 0 auto;
  margin-top: 2rem;
}
.project-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 10rem;
}
.project-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  padding: 1.6rem;
  box-shadow: 0 20px 15px -20px rgba(0, 0, 0, 0.144);
  position: relative;
}
.project-item h3 {
  font-size: 1.5rem;
}
.project-item a {
  text-align: center;
  margin-top: 1rem;
}
.project-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 15px;
}
.project-item:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.144),
    0 4px 6px -4px rgba(0, 0, 0, 0.103);
}

.project-item p {
  margin-top: 15px;
}
.demo-arrow {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
}
.github-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1.6rem;
  margin-top: calc(3rem + 30px);
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
}
.github-container a {
  border-bottom: 2px solid rgb(129 140 248);
}
.skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 20px 15px -20px rgba(0, 0, 0, 0.144);
}

.myskills-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-radius: 10px;
  padding: 1rem;
  max-width: fit-content;
  margin: 0 auto;
  position: relative;
}
.tag {
  font-size: 1.5rem;
  margin: 2rem;
}
.tag1 {
  font-size: 1rem;
  text-align: center;
}
.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.myskills-container h3 {
  border-bottom: 2px solid rgb(129 140 248);
  margin: 12px;
}
.attribute-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 10rem;
}
.contact-container {
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
}
.contact-info {
  padding: 15px;
  border-radius: 10px;
}

.contact-subtitle {
  font-size: 2rem;
}
.footer__social {
  margin-top: 5rem;
  font-size: 12px;
}

#scrollUpBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #171819c0;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 5rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
  background: rgb(129 140 248);
  border-radius: 5px;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(800px) rotate(360deg);
    opacity: 0;
  }
}
@media screen and (max-width: 550px) {
  .container {
    max-width: 100%;
  }
  .project-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .about,
  .skills-container {
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .logo {
    margin-left: 8rem;
  }
}
@media screen and (max-width: 1200px) {
  .project-container,
  .about,
  .skills-container,
  .myskills-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 800px) {
  .project-container,
  .about,
  .skills-container,
  .myskills-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
